.menu-title {
  width: 40vw;
  text-align: center;
  margin: 5rem auto;

  h2 {
    font-size: 4rem;
    font-weight: 300;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1330px) {
      //width: 100%;
      flex-wrap: wrap;
    }

    .button {
      position: relative;
      font-size: 2.4rem;
      display: inline-block;
      width: 31%;
      overflow: hidden;
      margin-top: 2rem;
      height: 100px;
      background: none;
      border: 1px solid $main-color;
      @media ($desktop-1640) {
        font-size: 2.2rem;
        padding: 30px;


        @media (max-width: 1330px) {
          width: 100%;
          flex-wrap: wrap;

        }
      }
    }

    p {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      //line-height: 200px;
    }
  }

  p.description {
    font-size: 2.2rem;
    margin: 2rem auto;
    text-align: justify;
    text-align-last: center;
  }
}


//======================================
#menu-help {
  max-width: 1500px;
  margin: 0 auto;

  .foundation-list {
    //width: 80vw;
    display: flex;
    flex-wrap: wrap;
    @media ($desktop-1640) {
      margin: 0 5rem 0 5rem;
    }

    .foundation-item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 4rem;


      h3 {
        width: 100%;
        font-size: 2.6rem;
        font-weight: 400;
      }

      p {
        font-size: 1.8rem;
        width: 50%;
        text-align: right;

        &:first-of-type {
          text-align: left;
        }


      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem;

  .page {
    border: 1px solid $main-color;
    text-align: center;
    padding: 1rem;
    margin: .5rem;
    font-size: 2rem;
    cursor: pointer;

    &:hover {
      font-weight: bold;
      background-color: lighten($main-color, 50%);
    }
  }
}
.ok {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  background-color: black;
  opacity: 0.8;
}

.page-item {
  .page-link{
    display: inline-block;
    color: red;
    margin: 30px;
  }
}